<header class="headering ">
  <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between" style="font-size: 13px; width:100%">
    <div >
        <img class="ime clickable rounded-5 ms-5" src="assets/Logo.jpg" alt="" style=" height:10vh" >
        </div>
        <div>
        <form class="form-inline ">
          <input class="form-control custom-search-input " type="search" placeholder="Search: Jean Pants, Basic Body, Modern Fit Shirt, Track Suit" aria-label="Search" style="width: 38vw;">
      </form>
      </div>
        <div>
          <img class="avatar me-5" src="/assets/AdminAvatar.jpg" alt="">
        </div>

  </nav>

</header>
