<!-- <ul class="list-unstyled ps-0">
  <li class="mb-1">
    <button class="btn align-items-center rounded" routerLink="/OrderChart">
      <i Class="fas fa-home m-2"></i>Admin DashBoard
    </button>
  </li>
  <li class="mb-1">
    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
      data-bs-target="#category-collapse" aria-expanded="false">
      <i Class="fas fa-folder-open m-2"></i>Category
    </button>
    <div class="collapse" id="category-collapse">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

        <li class="mx-4 my-2 "><i class="fas fa-list m-2"></i><a routerLink="/GetAllCategories"
            class=" rounded text-decoration-none">All Categories</a></li>
        <li class="mx-4 my-2 "><i class="fas fa-plus m-2"></i><a routerLink="/AddCategory"
            class=" rounded text-decoration-none">Add Category</a></li>

      </ul>
    </div>
  </li>
  <li class="mb-1">
    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
      data-bs-target="#product-collapse" aria-expanded="false">
      <i class="fas fa-grip-horizontal m-2"></i>Product
    </button>
    <div class="collapse" id="product-collapse">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
        <li class="mx-4 my-2 "><i class="fas fa-list m-2"></i><a routerLink="/GetAllProducts"
            class=" rounded text-decoration-none">All Products</a></li>
        <li class="mx-4 my-2 "><i class="fas fa-plus m-2"></i><a routerLink="/AddProduct"
            class=" rounded text-decoration-none">Add Product</a></li>
        <li class="mx-4 my-2 "><i class="fa-solid fa-pencil me-2"></i><a routerLink="/UpdateProduct"
            class=" rounded text-decoration-none">Update Product</a></li>
        <li class="mx-4 my-2 "><i class="fa-solid fa-trash-can me-2"></i><a routerLink="/DeleteProduct"
            class=" rounded text-decoration-none">Delete Product</a></li>

      </ul>
    </div>

  </li>

<li class="mb-1">
  <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
    data-bs-target="#item-collapse" aria-expanded="false">
    <i class="fa-solid fa-table-list m-2"></i>Item
  </button>
  <div class="collapse" id="item-collapse">
    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
      <li class="mx-4 my-2"><i class="fas fa-list m-2"></i><a routerLink="/GetAllItems"
          class="rounded text-decoration-none">All Items</a></li>
      <li class="mx-4 my-2"><i class="fas fa-plus m-2"></i><a routerLink="/AddItem"
          class="rounded text-decoration-none">Add Item</a></li>
      <li class="mx-4 my-2"><i class="fa-solid fa-pencil me-2"></i><a routerLink="/UpdateItem"
          class="rounded text-decoration-none">Update Item</a></li>
      <li class="mx-4 my-2"><i class="fa-solid fa-trash-can me-2"></i><a routerLink="/DeleteItem"
          class="rounded text-decoration-none">Delete Item</a></li>
    </ul>
  </div>
</li>


  <li class="mb-1">
    <button class="btn align-items-center rounded " routerLink="/getDefactoOrders">
      <i Class="fas fa-shopping-cart m-2"></i>Orders
    </button>
  </li>
  <li class="mb-1">
    <button class="btn align-items-center rounded " routerLink="/Reviews">
      <i Class="fas fa-star m-2"></i>Reviews
    </button>
  </li>

  <li class="mb-1">
    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
      data-bs-target="#user-collapse" aria-expanded="false">
      <i class="fas fa-user m-2"></i>User
    </button>
    <div class="collapse" id="user-collapse">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
        <li class="mx-4 my-2 "><i class="fas fa-users m-2"></i><a routerLink="/GetAllUsers"
            class="rounded text-decoration-none">All User</a></li>
        <li class="mx-4 my-2 "><i class="fas fa-plus m-2"></i><a routerLink="/CreateUser"
            class="rounded text-decoration-none">Add Account</a></li>
      </ul>
    </div>
     
  </li>



  <li class="mb-1">
    <button class="btn align-items-center rounded " routerLink="/Reviews">
      <i Class="fas fa-star m-2"></i>Reviews
    </button>
  </li>

  <li class="mb-1">
    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
      data-bs-target="#user-collapse" aria-expanded="false">
      <i class="fas fa-user m-2"></i>Color
    </button>
    <div class="collapse" id="user-collapse">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
        <li class="mx-4 my-2 "><i class="fas fa-users m-2"></i><a routerLink="/GetAllColors"
            class="rounded text-decoration-none">All Colors</a></li>
        <li class="mx-4 my-2 "><i class="fas fa-plus m-2"></i><a routerLink="/AddColor"
            class="rounded text-decoration-none">Add Color</a></li>

            <li class="mx-4 my-2 "><i class="fas fa-plus m-2"></i><a routerLink="/DeleteColor"
              class="rounded text-decoration-none">Delete Color</a></li>
      </ul>
    </div>
     
  </li>

      
</ul> -->


<ul class="list-unstyled ps-0">
  <li class="mb-1">
    <button class="btn align-items-center rounded" routerLink="/OrderChart">
      <i Class="fas fa-home m-2"></i>Admin DashBoard
    </button>
  </li>
  <li class="mb-1">
    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
      data-bs-target="#category-collapse" aria-expanded="false">
      <i Class="fas fa-folder-open m-2"></i>Category
    </button>
    <div class="collapse" id="category-collapse">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

        <li class="mx-4 my-2 "><i class="fas fa-list m-2"></i><a routerLink="/GetAllCategories"
            class=" rounded text-decoration-none">All Categories</a></li>
        <li class="mx-4 my-2 "><i class="fas fa-plus m-2"></i><a routerLink="/AddCategory"
            class=" rounded text-decoration-none">Add Category</a></li>

      </ul>
    </div>
  </li>
  <li class="mb-1">
    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
      data-bs-target="#product-collapse" aria-expanded="false">
      <i class="fas fa-grip-horizontal m-2"></i>Product
    </button>
    <div class="collapse" id="product-collapse">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
        <li class="mx-4 my-2 "><i class="fas fa-list m-2"></i><a routerLink="/GetAllProducts"
            class=" rounded text-decoration-none">All Products</a></li>
        <li class="mx-4 my-2 "><i class="fas fa-plus m-2"></i><a routerLink="/AddProduct"
            class=" rounded text-decoration-none">Add Product</a></li>


      </ul>
    </div>

  </li>
  <li class="mb-1">
    <button class="btn align-items-center rounded " routerLink="/getDefactoOrders">
      <i Class="fas fa-shopping-cart m-2"></i>Orders
    </button>
  </li>
  <li class="mb-1">
    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
      data-bs-target="#user-collapse" aria-expanded="false">
      <i class="fas fa-user m-2"></i>User
    </button>
    <div class="collapse" id="user-collapse">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
        <li class="mx-4 my-2 "><i class="fas fa-users me-2"></i><a routerLink="/GetAllUsers"
            class="rounded text-decoration-none">All User</a></li>
        <li class="mx-4 mt-3"><i class="fas fa-plus me-2"></i><a routerLink="/CreateUser"
            class="rounded text-decoration-none">Add Account</a></li>
      </ul>
    </div>
     
  </li>



  <li class="mb-1">
    <button class="btn align-items-center rounded " routerLink="/Reviews">
      <i Class="fas fa-star m-2"></i>Reviews
    </button>
  </li>

  <li class="mb-1">
    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
      data-bs-target="#color-collapse" aria-expanded="false">
      <i class="fas fa-user m-2"></i>Color
    </button>
    <div class="collapse" id="color-collapse">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
        <li class="mx-4 my-2 "><i class="fas fa-users m-2"></i><a routerLink="/GetAllColors"
            class="rounded text-decoration-none">All Colors</a></li>
        <li class="mx-4 my-2 "><i class="fas fa-plus m-2"></i><a routerLink="/AddColor"
            class="rounded text-decoration-none">Add Color</a></li>
      </ul>
    </div>
     
  </li>

      
</ul>