
    <h1>Add New Product</h1>
    <form>
      <div class="form-row m-3">
        <div class="form-group col-5">
          <label for="title">Title</label>
          <input type="text" id="title" name="title" class="form-control" required>
        </div>
      </div>
      <div class="form-row m-3">
        <div class="form-group col-5">
          <label for="productGender">Product Gender</label>
          <input type="number" id="productGender" name="productGender" class="form-control">
        </div>
      </div>
      <div class="form-row m-3">
        <div class="form-group col-5">
          <label for="description">Description</label>
          <textarea id="description" name="description" class="form-control"></textarea>
        </div>
      </div>
      <div class="form-row m-3">
        <div class="form-group col-5">
          <label for="image">Image</label>
          <input type="file" id="image" name="image" accept="image/*" class="form-control">
        </div>
      </div>
      <div class="form-row m-3">
        <div class="form-group col-5">
          <label for="categoryName">Category Name</label>
          <input type="text" id="categoryName" name="categoryName" class="form-control">
        </div>
      </div>
      <div class="form-row m-3">
        <div class="form-group col-5">
          <label for="categoryId">Category ID</label>
          <input type="number" id="categoryId" name="categoryId" class="form-control">
        </div>
      </div>
      <div class="form-row m-3">
        <div class="form-group col-5">
          <label for="vendorName">Vendor Name</label>
          <input type="text" id="vendorName" name="vendorName" class="form-control">
        </div>
      </div>
      <div class="form-row m-3">
        <div class="form-group col-5">
          <label for="vendorId">Vendor ID</label>
          <input type="text" id="vendorId" name="vendorId" class="form-control">
        </div>
      </div>
      <button type="submit" class="btn btn-primary m-3">Save</button>
      <a  class="btn btn-link text-decoration-none">Cancel</a>
    </form>



